

a {
	color: #C95433;
	text-decoration: none;
}


p, li, h2, h3, h4, a {
    color: #000;
	font-family: 'Avenir-Book', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	margin: 0;
}


h1,
h2,
h3,
h4,
h6 {
	color: #333;
    color: #000;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 16px;
}

h2 {
    font-size: 26px;
    margin-bottom: 16px;
    padding-top: 8px;
}

h3 {
	font-size: 22px;
    margin-bottom: 16px;
    padding-top: 8px;
}

h4 {
	font-size: 20px;
    margin-bottom: 16px;
    padding-top: 8px;
}

h5 {
	font-size: 18px;
    margin-bottom: 16px;
    padding-top: 8px;

}

h6 {
	font-size: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
}

img, .wp-caption {
    margin: 0 8px 0 0;
}

